/**********************************************************************************

	Project Name: Simplify
	Project Description: A Responsive Drupal theme
	Version: 1.0.0

************************************************************************************/

#search-block-form input.form-submit,
#search-form input.form-submit {
  background: url(../images/search-button.png) no-repeat center top;
  margin-left: 0;
  margin-right: 0;
  height: 26px;
  width: 34px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}

#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}

/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
  background: #ffffff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  /* LTR */
  padding: 4px 17px;
  border-radius: 3px;
}

a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* ------------------- Table Styles ----------------------- */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}

#footer-wrapper table {
  font-size: 1em;
}

table tr th {
  border-bottom-style: none;
}

table tr th,
table tr th a,
table tr th a:hover {
  color: #5E5B5B;
  font-weight: bold;
  font-size: 11pt;
  height: 30px;
}

table tbody tr th {
  vertical-align: top;
}

td.active {
  background-color: #f9f9f9;
}

tr td,
tr th {
  color: #888888;
  font-size: 1.1em;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  /* LTR */
}

#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #ddd;
  border-color: rgba(255, 255, 255, 0.18);
}

tr.even,
tr.odd {
  background: transparent;
  border-bottom: 1px solid #ddd;
  padding: 0.1em 0.6em;
}

table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

table ul.links li {
  padding: 0 1em 0 0;
}

/* ------------------- Sidebar ---------------------------- */

.sidebar .section {
  padding-top: 10px;
}

.sidebar .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px;
  background-color: #fff;
  border-color: #fff;
}

.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}

.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}

.sidebar tbody {
  border: none;
}

.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}

.tabs ul.primary li {
  display: block;
  float: left;
  /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0;
  /* LTR */
}

.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}

.tabs ul.primary li a {
  color: #777;
  background-color: #f9f9f9;
  height: 1.8em;
  display: block;
  font-size: 0.929em;
  float: left;
  padding: 5px 15px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  border-radius: 3px 3px 0 0;
}

.tabs ul.primary li.active a {
  background-color: #ffffff;
}

.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}

.tabs ul.secondary li {
  display: block;
  float: left;
  /* LTR */
}

.tabs ul.secondary li:last-child {
  border-right: none;
  /* LTR */
}

.tabs ul.secondary li:first-child {
  padding-left: 0;
  /* LTR */
}

.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}

.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}

ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}

ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}

/* -------------- Form Elements   ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
  /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.fieldset-wrapper {
  margin-top: 25px;
}

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}

.filter-wrapper .form-item label {
  margin-right: 10px;
}

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}

.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}

fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  border-radius: 0;
}

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px;
  /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

fieldset legend a {
  color: #3b3b3b;
}

fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}

fieldset .fieldset-wrapper {
  padding: 0 10px;
}

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}

input {
  margin: 2px 0;
  padding: 4px;
}

input,
textarea {
  font-size: 0.929em;
}

textarea {
  line-height: 1.5;
}

textarea.form-textarea,
select.form-select {
  padding: 4px;
}

input.form-text,
textarea.form-textarea,
select.form-select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}

.password-suggestions ul li {
  margin-left: 1.2em;
  /* LTR */
}

.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}

.form-item label {
  font-size: 0.929em;
}

.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}

.form-actions {
  padding-top: 10px;
}

/* Contact Form */

.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Disabled form elements */

input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}

.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}

.form-disabled label {
  color: #717171;
}

/* ----------------- Content ------------------ */

.content {
  margin-top: 10px;
}

h1#page-title {
  font-size: 2em;
  line-height: 1;
}

#content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}

.node .content {
  font-size: 1.071em;
}

.node-teaser .content {
  font-size: 1em;
}

.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}

.node-teaser h2 a {
  text-decoration: none;
  color: #181818;
}

.node-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}

.node-full {
  background: none;
  border: none;
  padding: 0;
}

.node-teaser .content {
  clear: none;
  line-height: 1.6;
}

.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}

.submitted .user-picture img {
  float: left;
  /* LTR */
  height: 20px;
  margin: 1px 5px 0 0;
  /* LTR */
}

.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}

.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */
}

.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}

.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}

.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.field-type-taxonomy-term-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1em 0 0;
  /* LTR */
  white-space: nowrap;
}

.link-wrapper {
  text-align: right;
}

.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}

ul.links {
  color: #68696b;
  font-size: 0.821em;
}

.node-unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0;
}

.node-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ------------------- Comments --------------------------- */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0;
  /* LTR */
  width: 55px;
  padding: 5px;
  border-radius: 3px;
}

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}

.comment .attribution {
  display: table-cell;
  padding: 0 20px 0 0;
  /* LTR */
  vertical-align: top;
  overflow: hidden;
}

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}

.comment .attribution .username {
  white-space: nowrap;
}

.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}

.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}

.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}

.comment .submitted .comment-permalink a {
  padding: 8px 0 18px;
}

.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  /* LTR */
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ffffff;
  height: 40px;
  margin-left: -47px;
  /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 22px;
}

.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}

.comment .comment-text h3 a {
  padding-top: 22px;
}

.comment .indented {
  margin-left: 40px;
  /* LTR */
}

.comment ul.links {
  padding: 0 0 0.25em 0;
}

.comment ul.links li {
  padding: 0 0.5em 0 0;
  /* LTR */
}

.comment.unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */
}

.comment.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* Comment form */

.comment-form label {
  float: left;
  /* LTR */
  font-size: 0.929em;
  width: 120px;
}

.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.comment-form .form-type-textarea label {
  float: none;
}

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}

.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px;
  /* LTR */
}

.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}

.comment-form input.form-file {
  width: auto;
}

.no-sidebars .comment-form .form-text {
  width: 800px;
}

.one-sidebar .comment-form .form-text {
  width: 500px;
}

.two-sidebars .comment-form .form-text {
  width: 320px;
}

.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px;
  /* LTR */
}

#content h2.comment-form {
  margin-bottom: 0.5em;
}

.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.filter-wrapper label {
  width: auto;
  float: none;
}

.filter-wrapper .form-select {
  min-width: 120px;
}

.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}

#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}

#edit-actions input {
  margin-right: 0.6em;
  /* LTR */
}

/*Responsive-Nevigation*/

.nav-bar {
  background-color: #fff;
}

.toggle-menu {
  display: none;
  padding: 15px 15px;
  color: #2b2b2b;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
}

.toggle-menu:hover {
  color: inherit;
}

.nav {
  list-style: none;
  *zoom: 1;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > ul > ul {
  /*Width of Sun-Menu*/
  list-style: none;
  width: 9em;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
  font-size: .90em;
  color: #a6a6a6;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.nav a:hover {
  color: #2b2b2b;
}

.nav .active {
  font-weight: bold;
  color: #2b2b2b;
}

.nav li {
  position: relative;
}

.nav > ul > li {
  float: left;
  margin-right: 2px;
}

.nav > ul > li > .parent {
  background-repeat: no-repeat;
  background-position: right;
}

.nav > ul > li > a {
  display: block;
}

.nav li ul {
  position: absolute;
  left: -9999px;
}

.nav > ul > li.hover > ul {
  left: 0;
}

.nav li li.hover ul {
  left: 100%;
  top: 0;
}

.nav li li a {
  display: block;
  background: #f8f8f8;
  position: relative;
  z-index: 100;
  border-top: 1px solid #e7e7e7;
}

.nav li li li a {
  background: #f8f8f8;
  z-index: 200;
  border-top: 1px solid #e7e7e7;
}

@media screen and (max-width: 768px) {
  .active {
    display: block;
  }

  .nav > ul > li {
    /*Appliying padding on mobile*/
    float: none;
    border-right: none;
  }

  .nav > ul > li > .parent {
    background-position: 95% 50%;
  }

  .nav li li .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }

  .nav ul {
    display: block;
    width: 100%;
  }

  .nav > ul > li.hover > ul,
  .nav > ul > li li.hover ul {
    position: static;
  }
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}

.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}

.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}

.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}

.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}

.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}

.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}

.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}

.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}

.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}

.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}

.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}

.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}

.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}

.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}

.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}

.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}

.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}

.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}

.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}

.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}

.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}

.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}

.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}

.container:after {
  clear: both;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.container-fluid:after {
  clear: both;
}

@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }

  .container-fluid {
    padding: 0;
  }

  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }

  .dl-horizontal dd {
    margin-left: 0;
  }

  .container {
    width: auto;
  }

  .row-fluid {
    width: 100%;
  }

  .row,
  .thumbnails {
    margin-left: 0;
  }

  .thumbnails > li {
    float: none;
    margin-left: 0;
  }

  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }

  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }

  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }

  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }

  .modal.fade {
    top: -100px;
  }

  .modal.fade.in {
    top: 20px;
  }
}

@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }

  .page-header h1 small {
    display: block;
    line-height: 20px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }

  .form-horizontal .controls {
    margin-left: 0;
  }

  .form-horizontal .control-list {
    padding-top: 0;
  }

  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }

  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  .media-object {
    margin-right: 0;
    margin-left: 0;
  }

  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }

  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }

  .carousel-caption {
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }

  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .row:after {
    clear: both;
  }

  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }

  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }

  .span12 {
    width: 724px;
  }

  .span11 {
    width: 662px;
  }

  .span10 {
    width: 600px;
  }

  .span9 {
    width: 538px;
  }

  .span8 {
    width: 476px;
  }

  .span7 {
    width: 414px;
  }

  .span6 {
    width: 352px;
  }

  .span5 {
    width: 290px;
  }

  .span4 {
    width: 228px;
  }

  .span3 {
    width: 166px;
  }

  .span2 {
    width: 104px;
  }

  .span1 {
    width: 42px;
  }

  .offset12 {
    margin-left: 764px;
  }

  .offset11 {
    margin-left: 702px;
  }

  .offset10 {
    margin-left: 640px;
  }

  .offset9 {
    margin-left: 578px;
  }

  .offset8 {
    margin-left: 516px;
  }

  .offset7 {
    margin-left: 454px;
  }

  .offset6 {
    margin-left: 392px;
  }

  .offset5 {
    margin-left: 330px;
  }

  .offset4 {
    margin-left: 268px;
  }

  .offset3 {
    margin-left: 206px;
  }

  .offset2 {
    margin-left: 144px;
  }

  .offset1 {
    margin-left: 82px;
  }

  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
  }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }

  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }

  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }

  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }

  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }

  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }

  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }

  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }

  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }

  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }

  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }

  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }

  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }

  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%;
  }

  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%;
  }

  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%;
  }

  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%;
  }

  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%;
  }

  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%;
  }

  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%;
  }

  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%;
  }

  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%;
  }

  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%;
  }

  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%;
  }

  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%;
  }

  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%;
  }

  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%;
  }

  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%;
  }

  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%;
  }

  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%;
  }

  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%;
  }

  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%;
  }

  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%;
  }

  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%;
  }

  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%;
  }

  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%;
  }

  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%;
  }

  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }

  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }

  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 710px;
  }

  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 648px;
  }

  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 586px;
  }

  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 524px;
  }

  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 462px;
  }

  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 400px;
  }

  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 338px;
  }

  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 276px;
  }

  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 214px;
  }

  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 152px;
  }

  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 90px;
  }

  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 28px;
  }
}

@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }

  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .row:after {
    clear: both;
  }

  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }

  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }

  .span12 {
    width: 1170px;
  }

  .span11 {
    width: 1070px;
  }

  .span10 {
    width: 970px;
  }

  .span9 {
    width: 870px;
  }

  .span8 {
    width: 770px;
  }

  .span7 {
    width: 670px;
  }

  .span6 {
    width: 570px;
  }

  .span5 {
    width: 470px;
  }

  .span4 {
    width: 370px;
  }

  .span3 {
    width: 270px;
  }

  .span2 {
    width: 170px;
  }

  .span1 {
    width: 70px;
  }

  .offset12 {
    margin-left: 1230px;
  }

  .offset11 {
    margin-left: 1130px;
  }

  .offset10 {
    margin-left: 1030px;
  }

  .offset9 {
    margin-left: 930px;
  }

  .offset8 {
    margin-left: 830px;
  }

  .offset7 {
    margin-left: 730px;
  }

  .offset6 {
    margin-left: 630px;
  }

  .offset5 {
    margin-left: 530px;
  }

  .offset4 {
    margin-left: 430px;
  }

  .offset3 {
    margin-left: 330px;
  }

  .offset2 {
    margin-left: 230px;
  }

  .offset1 {
    margin-left: 130px;
  }

  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
  }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }

  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }

  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }

  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }

  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }

  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }

  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }

  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }

  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }

  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }

  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }

  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }

  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }

  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }

  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }

  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }

  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }

  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }

  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }

  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }

  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }

  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }

  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }

  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }

  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }

  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }

  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }

  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }

  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }

  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }

  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }

  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }

  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }

  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }

  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }

  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }

  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }

  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }

  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }

  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 1156px;
  }

  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 1056px;
  }

  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 956px;
  }

  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 856px;
  }

  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 756px;
  }

  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 656px;
  }

  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 556px;
  }

  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 456px;
  }

  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 356px;
  }

  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 256px;
  }

  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 156px;
  }

  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 56px;
  }

  .thumbnails {
    margin-left: -30px;
  }

  .thumbnails > li {
    margin-left: 30px;
  }

  .row-fluid .thumbnails {
    margin-left: 0;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

input,
textarea,
select {
  outline: none;
}

/***********************************************************************************************/

/* UTILITY CLASSES */

/***********************************************************************************************/

.left {
  float: left;
}

.right {
  float: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.inline li {
  display: inline-block;
}

.inline li:last-child {
  margin-right: 0;
}

.narrow-p {
  margin: 0 auto 1.5em;
  width: 30%;
}

/***********************************************************************************************/

/* @FONT-FACE */

/***********************************************************************************************/

@font-face {
  font-family: 'icomoon-ultimate';
  src: url('fonts/icomoon-ultimate.eot');
  src: url('fonts/icomoon-ultimate.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon-ultimate.woff') format('woff'), url('fonts/icomoon-ultimate.ttf') format('truetype'), url('fonts/icomoon-ultimate.svg#icomoon-ultimate') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
  font-family: 'icomoon-ultimate';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */

/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-arrow-right,
.icon-twitter,
.icon-facebook,
.icon-dribbble {
  font-family: 'icomoon-ultimate';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-arrow-right:before {
  content: "\21";
}

.icon-twitter:before {
  content: "\22";
}

.icon-facebook:before {
  content: "\23";
}

.icon-dribbble:before {
  content: "\24";
}

/***********************************************************************************************/

/* GENERAL TYPOGRAPHY STYLES */

/***********************************************************************************************/

body {
  color: #2b2b2b;
  font: 300 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: "Bitter", Georgia, serif;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 26px;
  line-height: 1.4em;
}

h2 {
  font-size: 18px;
  line-height: 1.2em;
}

h3 {
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
}

em {
  color: #7a7a7a;
  font-size: 14px;
  font-style: italic;
}

p {
  margin-bottom: 1.5em;
}

/***********************************************************************************************/

/* UI ELEMENT STYLES */

/***********************************************************************************************/

.pricing-table {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
}

.pricing-table .title {
  font-size: 34px;
  font-weight: 200;
  background: transparent !important;
  padding-bottom: 0;
  padding: 0.9375em 1.25em;
  text-align: center;
  color: #777;
}

.pricing-table .description {
  background-color: #fff;
  padding: 0.9375em;
  text-align: center;
  color: #777;
  font-size: 16px;
  font-weight: 200;
  border-bottom: none;
}

.pricing-table .price {
  font-weight: 200;
  background-color: #f3f3f3 !important;
  margin-bottom: 20px;
  padding: 0.9375em 1.25em;
  text-align: center;
  color: #333;
  font-size: 1.25em;
}

.pricing-table .bullet-item {
  margin: 0 40px;
  font-size: 16px;
  font-weight: 200;
}

.pricing-table .bullet-item {
  background-color: #fff;
  padding: 0.9375em;
  text-align: center;
  color: #333;
  border-bottom: solid 1px #ddd;
}

.pricing-table .cta-button {
  text-align: center;
  padding: 10px 20px;
}

.pricing-table * {
  list-style: none;
  line-height: 1;
}

.pricing-table .recommended .title {
  color: #3a3a3a;
  font-weight: 600;
}

.btn:hover {
  background: #dedede;
  color: inherit;
}

.btn {
  background: #ffffff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  display: inline-block;
  font-size: 14px;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn-primary {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: bold;
}

.box {
  background-color: white;
  border: 1px solid #dcdbdb;
  padding: 3px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
}

.box figure img {
  display: block;
  height: auto;
  width: 100%;
}

blockquote p {
  color: #7a7a7a;
  font-style: italic;
}

blockquote p:before,
blockquote p:after {
  content: '"';
}

blockquote cite {
  font-size: 14px;
  text-transform: uppercase;
}

.quote-form {
  margin: 0 auto;
  width: 550px;
}

.quote-form p {
  background-color: #f7f7f7;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 3px 3px 3px 16px;
  text-align: left;
}

.quote-form p:hover {
  background-color: #f2f2f2;
}

.quote-form label {
  display: inline-block;
  margin-top: 16px;
}

.quote-form input[type="text"],
.quote-form input[type="email"],
.quote-form input[type="number"],
.quote-form textarea {
  border: none;
  font: 300 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  float: right;
  height: 54px;
  margin-left: 16px;
  padding: 0 16px;
  width: 350px;
}

.quote-form .select-container {
  height: 60px;
}

.quote-form .select-container select {
  float: right;
  font-size: 16px;
  margin: 16px 0 16px 16px;
  width: 350px;
}

.quote-form textarea {
  height: 200px;
  padding: 16px;
}

.quote-form input[type="submit"] {
  border: none;
  cursor: pointer;
  font: bold 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.sidebar {
  margin-left: 20px;
}

/***********************************************************************************************/

/* SLIDESHOW */

/***********************************************************************************************/

.region-slideshow .content {
  margin-top: 0;
}

.flexslider .slides img {
  width: 100%;
  display: block;
  max-height: 500px;
}

.flex-direction-nav a {
  padding: 10px;
}

.flexslider {
  margin: 0;
  background: transparent;
  border: none;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
  zoom: 1;
}

/***********************************************************************************************/

/* GENERAL */

/***********************************************************************************************/

img {
  max-width: 100%;
  height: auto;
}

.section-content {
  padding: 3em 0;
}

ul.row {
  margin-bottom: 1.5em;
}

.no-padding-bottom {
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: #2980b9;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover,
a:focus {
  color: #018fe2;
}

a:active {
  color: #23aeff;
}

/***********************************************************************************************/

/* HEADER */

/***********************************************************************************************/

.logo {
  margin-right: 40px;
  padding: 15px 20px;
}

.main-header {
  overflow: hidden;
}

.main-menu,
.user-menu {
  float: right;
}

.user-nav {
  padding: 10px 15px;
}

.user-nav ul {
  margin-top: 3em;
}

.user-nav ul li {
  text-transform: uppercase;
}

.user-nav ul li a {
  color: #7a7a7a;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.user-nav ul li a:hover {
  color: #e34e47;
}

/***********************************************************************************************/

/* MIDDLE CONTENT */

/***********************************************************************************************/

.middle-container {
  background: transparent url('../images/pattern.png') 0 0 repeat;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.intro-content {
  background-color: #1a2128;
  color: white;
  height: 209px;
  padding: 0 3em;
}

.intro-content h1 {
  padding-top: 70px;
}

.intro-content .special-intro {
  font-weight: bold;
  padding-top: 90px;
}

.intro-content .intro-color-1 {
  color: #2eb4e8;
}

.intro-content .intro-color-2 {
  color: #a6c63a;
}

.portfolio-entry {
  margin-bottom: 1.5em;
  position: relative;
}

.portfolio-entry .hover-state {
  height: 209px;
  left: 3px;
  padding: 5.5em 75px;
  position: absolute;
  top: 3px;
  width: 100%;
  display: none;
}

.portfolio-entry .hover-state p {
  margin-bottom: 0;
  position: relative;
}

.portfolio-entry .hover-state p:before {
  content: '\21';
  color: #2980b9;
  font-family: "icomoon-ultimate";
  font-size: 11px;
  position: absolute;
  right: -25px;
  top: 1px;
}

.portfolio-entry figure img {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.portfolio-entry:hover figure img {
  opacity: 0;
  filter: alpha(opacity=0);
}

.portfolio-entry:hover .hover-state {
  display: block;
}

.portfolio-header {
  margin: 1.5em auto;
}

.portfolio-nav {
  padding: 1.5em 0;
}

.portfolio-image-list li {
  margin-bottom: 1.5em;
}

.portfolio-image-list li figcaption {
  font-size: 14px;
  margin: 1.5em;
  text-align: center;
}

.portfolio-image-list li:last-child {
  margin-bottom: 0;
}

.available {
  color: #a6c63a;
}

.about-page hr.alt,
.contact-page hr.alt {
  margin: 3em auto;
}

.about-page .cta,
.contact-page .cta {
  margin-top: 3em;
}

.hidden {
  opacity: .2;
  filter: alpha(opacity=20);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.bottom-container {
  background-color: #f2f2f2;
}

/***********************************************************************************************/

/* FOOTER */

/***********************************************************************************************/

.main-footer {
  padding: 1em 0;
}

.main-footer p {
  margin-bottom: 0;
}

.social-icons li a {
  color: #dcdbdb;
  font-size: 32px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.social-icons li a:hover {
  color: #1a2128;
}